<main class="container">

  <section class="acoes">

    <div class="card">

      <h2>Criar uma nota fiscal</h2>

      <form (ngSubmit)="cadastrarNotas()">

        @for (
        nota of notas;
        track $index;
        let indiceNota = $index
        ) {

        <div class="nota-fiscal">

          <h3>
            Nova nota fiscal {{ indiceNota + 1 }}
          </h3>

          <div>

            <p>
              <strong>
                Código será gerado automaticamente pelo sistema.
              </strong>
            </p>

            <p>
              <strong>Status inicial:</strong>
              Aberta
            </p>

          </div>

          <div class="produtos">

            @for (
            produto of nota.produtos;
            track produto.id;
            let indiceProduto = $index
            ) {

            <div class="produto-quantidade">

              <!-- PRODUTO -->

              <select [id]="'produto-' + indiceNota + '-' + indiceProduto"
                      [name]="'produto-' + indiceNota + '-' + indiceProduto"
                      class="produto"
                      [(ngModel)]="produto.produtoId">

                <option [ngValue]="null">
                  Selecione o produto
                </option>

                @for (
                produtoEstoque of produtos;
                track produtoEstoque.id
                ) {

                @if (
                !produtoJaSelecionado(
                nota,
                produtoEstoque.id,
                indiceProduto
                )
                ) {

                <option [ngValue]="produtoEstoque.id">

                  {{ produtoEstoque.codigo }}
                  -
                  {{ produtoEstoque.descricao }}
                  -
                  Estoque:
                  {{ produtoEstoque.saldo }}

                </option>

                }

                }

              </select>

              <input type="number"
                     [id]="'quantidade-' + indiceNota + '-' + indiceProduto"
                     [name]="'quantidade-' + indiceNota + '-' + indiceProduto"
                     class="quantidade"
                     [(ngModel)]="produto.quantidade"
                     min="1"
                     [max]="obterSaldoProduto(produto.produtoId)"
                     placeholder="Qtd">


              @if (nota.produtos.length > 1) {

              <button type="button"
                      class="removerB"
                      (click)="removerProduto(
                        indiceNota,
                        indiceProduto
                      )">

                Remover produto

              </button>

              }

            </div>

            }

            <button type="button"
                    class="adicionarB"
                    (click)="adicionarProduto(indiceNota)">

              + Adicionar produto

            </button>

          </div>

          @if (notas.length > 1) {

          <button type="button"
                  class="removerB"
                  (click)="removerNota(indiceNota)">

            Remover nota

          </button>

          }

        </div>

        }

        <button type="button"
                class="adicionarB"
                (click)="adicionarNota()">

          + Adicionar outra nota

        </button>

        <button type="submit"
                class="cadastroB"
                [disabled]="carregando">

          {{
            carregando
              ? 'Cadastrando...'
              : 'Cadastrar notas'
          }}

        </button>

      </form>

    </div>

  </section>

  <div class="notas-grid">

    <div class="notas-container">

      <section class="notas">

        <div class="card">

          <h2>
            Notas fiscais abertas
          </h2>


          @if (notasAbertas.length === 0) {

          <p>
            Nenhuma nota fiscal aberta.
          </p>

          } @else {

          @for (
          nota of notasAbertas;
          track nota.id
          ) {

          <div class="nota-cadastrada">

            <div class="nota-topo">

              <h3>
                Nota fiscal #{{ nota.codigo }}
              </h3>

              <span>
                Status:
                {{ nota.status }}
              </span>

            </div>

            <button type="button"
                    class="cadastroB"
                    [disabled]="carregando"
                    (click)="imprimirNota(nota.id)">

              {{
                    carregando
                      ? 'Processando...'
                      : '🖨 Imprimir nota'
              }}

            </button>


            <h4>
              Produtos da nota
            </h4>


            @if (nota.itens.length === 0) {

            <p>
              Esta nota não possui produtos.
            </p>

            } @else {

            <div class="tabela">

              <div class="linha cabecalho">

                <span>
                  Produto
                </span>

                <span>
                  Quantidade
                </span>

              </div>


              @for (
              item of nota.itens;
              track $index
              ) {

              <div class="linha">

                <span>

                  Produto ID:
                  {{ item.produtoId }}

                  {{
                            obterDescricaoProduto(
                              item.produtoId
                            )
                  }}

                </span>


                <span>
                  {{ item.quantidade }}
                </span>

              </div>

              }

            </div>

            }

          </div>

          }

          }

        </div>

      </section>

    </div>

    <section class="notas">

      <div class="card">

        <button type="button"
                class="cadastroB"
                (click)="alternarNotasFechadas()">

          {{
            mostrarNotasFechadas
              ? 'Ocultar notas fechadas'
              : 'Ver notas fechadas'
          }}

        </button>


        @if (mostrarNotasFechadas) {

        <h2>
          Notas fiscais fechadas
        </h2>


        @if (notasFechadas.length === 0) {

        <p>
          Nenhuma nota fiscal fechada.
        </p>

        } @else {

        @for (
        nota of notasFechadas;
        track nota.id
        ) {

        <div class="nota-cadastrada">

          <div class="nota-topo">

            <h3>
              Nota fiscal #{{ nota.codigo }}
            </h3>

            <span>
              Status:
              {{ nota.status }}
            </span>

          </div>

          <p>
            <strong>
              Nota fechada.
            </strong>
          </p>

          <h4>
            Produtos da nota
          </h4>


          @if (nota.itens.length === 0) {

          <p>
            Esta nota não possui produtos.
          </p>

          } @else {

          <div class="tabela">

            <div class="linha cabecalho">

              <span>
                Produto
              </span>

              <span>
                Quantidade
              </span>

            </div>


            @for (
            item of nota.itens;
            track $index
            ) {

            <div class="linha">

              <span>

                Produto ID:
                {{ item.produtoId }}

                {{
                            obterDescricaoProduto(
                              item.produtoId
                            )
                }}

              </span>


              <span>
                {{ item.quantidade }}
              </span>

            </div>

            }

          </div>

          }

        </div>

        }

        }

        }

      </div>

    </section>

  </div>

</main>
