<main class="container">

  <section class="acoes">

    <div class="card">

      <h2>Cadastrar novos produtos</h2>

      <form (ngSubmit)="cadastrarProdutos()">

        @for (produto of produtos; track $index) {

        <div class="produto">

          <h3>
            Produto {{ $index + 1 }}
          </h3>


          <div>

            <p>
              Código será gerado automaticamente pelo sistema
            </p>

            <label [for]="'nome' + $index">
              Nome do produto
            </label>

            <input type="text"
                   [id]="'nome' + $index"
                   [name]="'nome' + $index"
                   [(ngModel)]="produto.descricao"
                   placeholder="Nome do produto"
                   required />

          </div>

          <div>

            <label [for]="'quantidade' + $index">
              Quantidade do produto
            </label>

            <input type="number"
                   [id]="'quantidade' + $index"
                   [name]="'quantidade' + $index"
                   [(ngModel)]="produto.saldo"
                   min="0"
                   placeholder="0"
                   required />

          </div>

          @if ($index > 0) {

          <button type="button"
                  class="removerB"
                  (click)="removerProduto($index)">

            Remover produto

          </button>

          }

        </div>

        }

        <button type="button"
                class="adicionarB"
                (click)="adicionarProduto()">

          + Adicionar outro produto

        </button>

        <button type="submit"
                class="cadastroB">

          Cadastrar produtos

        </button>

      </form>

    </div>

  </section>


  <button type="button"
          class="cadastroB"
          (click)="verificarEstoque()">

    {{
      mostrarEstoque
        ? 'Ocultar produtos no estoque'
        : 'Verificar produtos no estoque'
    }}

  </button>

  @if (mostrarEstoque) {

  <section class="estoque">

    <div class="card">

      <div class="estoque-topo">

        <h2>
          Produtos em estoque
        </h2>

        <button type="button"
                class="atualizarB"
                (click)="carregarEstoque()">

          Atualizar

        </button>

      </div>

      @if (produtosEstoque.length === 0) {

      <p>
        Nenhum produto cadastrado no estoque.
      </p>

      }

      @else {

      <div class="tabela">

        <div class="linha cabecalho">

          <span>
            Código
          </span>

          <span>
            Produto
          </span>

          <span>
            Saldo
          </span>

          <span>
            Ações
          </span>

        </div>


        @for (
        produto of produtosEstoque;
        track produto.id
        ) {

        <div class="linha">

          <span>
            {{ produto.codigo }}
          </span>


          <span>
            {{ produto.descricao }}
          </span>


          <span>
            {{ produto.saldo }}
          </span>

          <span class="acoes-produto">

            <button type="button"
                    class="editarB"
                    (click)="editarProduto(produto)">

              Editar

            </button>

            <button type="button"
                    class="removerB"
                    (click)="deletarProduto(produto)">

              Excluir

            </button>

          </span>

        </div>

        }

      </div>

      }

    </div>

  </section>

  }

</main>
